@import '../../../style/abstracts/variables';
@import '../../../style/abstracts/mixins';

.elementary_egzam {
    @include sections_layout;
    &__content {
        @media only screen and (min-width: $size-large) {
            @include sections_content
        }
    }
    &__text {
        @media only screen and (min-width: $size-large) {
            @include sections_text
        }
    }
    &__square_root_l {
        display: none;
        @media only screen and (min-width: $size-large) {
            display: block;
            @include background_image;
            top: 4rem;
            left: 35%;
            width: 6rem;
        }        
    }
}
