@import '../../style/abstracts/variables';

.mobile_menu {
    background-color: $secondary-dark;
    opacity: 0.97;
    z-index: 1;
    position: fixed;
    top: 4rem;
    right: 0;
    border-radius: 0 0 0 0.5rem;
    overflow: hidden;
    transform-origin: top right;
    transform: scale(0);
    transition: transform 0.2s;
    &__list {
        padding: 1rem 2rem;
        list-style-type: none;
        color: white;
        font-size: 0.7rem;
        word-wrap: normal;
        line-height: 1.8rem;
        text-align: right;
        &_item {
            margin-bottom: 1rem;
        }
    } 
}

.menu_display {
    transform: scale(1);
}