@import '../../style/abstracts/mixins';

.blob {
    @include background_image;
}

.blob_fill-light_green {
    fill: #EFFDFD;;
}

.blob_fill-violet {
    fill: #F4F1FE;
}

.blob_fill-light-violet {
    fill: #F8F5FE;
}
