@import '../../style/abstracts/variables';
@import '../../style/abstracts/mixins';

.blob {
    @include background_image;
    top: 60%;
    left: 30%;
}

.blob_fill-light_green {
    fill:$blob-light-green;
}