@import '../../style/abstracts/variables';
@import '../../style/abstracts/mixins';

.paragraph_text {
    margin: 2rem auto;
    @include content_width;
    text-align: center;
    @media only screen and (min-width: $size-large) {
        margin: 1rem auto;
    }
    &_left {
        @media only screen and (min-width: $size-large) {
            text-align: left;
        }
    }
    &_right {
        @media only screen and (min-width: $size-large) {
            text-align: right;
        }
    }
    
}