// MEDIA QUERY MANAGER


@mixin content_width {
    width: 80%;
    max-width: 18rem;
    min-width: 16rem;
}


@mixin sections_layout {
    padding-top: 5.5rem;
    display: flex;
    flex-direction: column;
}
