// MEDIA QUERY MANAGER


@mixin content_width {
    width: 80%;
    max-width: 18rem;
    min-width: 16rem;
    @media only screen and (min-width: $size-medium) {
        max-width: 30rem;
        min-width: 16rem;
    }
}


@mixin sections_layout {
    padding: 5.5rem 0 3rem 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

@mixin sections_content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto 2rem auto;
    max-width: 60rem;
}

@mixin sections_text {
    width: 50%;
    max-width: 30rem;
}

@mixin background_image {
    position: absolute;
    z-index: -1;
}
