// COLORS
$primary-dark: #2D2850;
$secondary-dark: #443E75;
$dark-font: #564E94;
$gray: #8A889A;
$gray-light: #F2F0FA;
$green: #06D6A0;
$blue-green: #38E9E3;
$orange: #ED6A5A;
$violet: #978EE1;


// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;


// BREAKPOINTS
$size-xsmall: 460px;
$size-small: 640px;
$size-medium: 750px;
$size-large: 1024px;
$size-xlarge: 1200px;
$size-xxlarge: 1440px;
