@import '../../style/abstracts/variables';

.learning_plan {
    margin: auto;
    width: 80vw;
    &__header {
        background-color: $green;
        padding: 0.5rem 0;
        width: 70%;
        margin: auto;
        border-radius: 1rem;
    }
    &__content {
        border: 0.3rem solid $green;
        border-radius: 1rem;
        padding: 1rem;
        margin: auto;
        // height: 0;
        overflow: hidden;
        position: relative;
        top: -1.2rem;
        z-index: -1;
    }
}