@import '../../style/abstracts/variables';

.learning_plan {
    margin: auto;
    width: 75vw;
    &__header {
        background-color: $green;
        padding: 0.5rem 0;
        width: 70%;
        margin: auto;
        border-radius: 1rem;
    }
}

.lp_content {
    border: 0.3rem solid $green;
    border-radius: 2rem;
    padding: 1rem;
    margin: auto;
    overflow: hidden;
    position: relative;
    top: -1.2rem;
    z-index: -1;
    &__item {
        // border: 1px solid red;
        margin: 1.5rem auto;
        width: 90%;;
        display: flex;
        align-items: center;
        &_point {
            background-color: $blue-green;
            width: 2.5rem;
            height: 2.5rem;
            margin: auto 10% auto auto;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 1.5rem;
        }
        &_text {
            // display: inline-block;
            width: 70%;
        }
    }
}

.point_green {
    background-color: $green;
}

.point_blue {
    background-color: $blue-green;
}

.point_violet {
    background-color: $violet;
}