@import '../../../style/abstracts/variables';

.offer {
    height: 100vh;
    padding-top: 5.5rem;
    @media only screen and (min-height: $size-large) {
        height: 50vh;
    }
    &__header {
        margin: 0rem 1rem 2rem 1rem;
        text-align: center;
        padding-right: 1rem;
        line-height: 1.5rem;
    }
    &__header:after {
        content:'';
        display: block;
        border: 1px solid $secondary-dark;
        background-color: $secondary-dark;
        border-radius: 2px;
        margin: 0.5rem auto;
    }
    &__list {
        height: 80%;
        width: 80vw;
        max-height: 25rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @media only screen and (min-width: $size-medium) {
            flex-direction: row;
            align-items: flex-start;
        }
        &_column {
            height: 50%;
            width: 50%;
            min-width: 11rem;
            display: flex;
            flex-direction: column;
        }
        &_element {
            margin: auto;
            width: 60%;
            height: 3rem;
            min-width: 10rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        &_text {
            margin: 0 0 0 1rem;
            display: inline;
            }
        }
    }
}





.element_icon {
    height: 100%;
    margin: 0;
}