@import '../../../style/abstracts/variables';
@import '../../../style/abstracts/mixins';

.offer {
    // border: 1px solid red;
    min-height: 40vh;
    padding-top: 5.5rem;
    position: relative;
    @media only screen and (min-width: $size-large) {
        padding-top: 6rem;
    }  
    @media only screen and (min-height: $size-large) and (min-width: $size-medium) {
        min-height: 30vh;
    }  
    &__header {
        margin: 0rem 1rem 2rem 1rem;
        text-align: center;
        padding-right: 1rem;
        line-height: 1.5rem;
        @media only screen and (min-width: $size-large) {
            margin: 0rem 1rem 3rem 1rem;
        }
    }
    &__header:after {
        content:'';
        display: block;
        border: 1px solid $secondary-dark;
        background-color: $secondary-dark;
        border-radius: 2px;
        margin: 0.5rem auto;
        @media only screen and (min-width: $size-large) {
            max-width: 50rem;
            border: 1px solid $secondary-dark;
        }
    }
    &__list {
        height: 80%;
        width: 80vw;
        max-height: 25rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @media only screen and (min-width: $size-small) {
            flex-direction: row;
            align-items: flex-start;
            @media only screen and (min-width: $size-large) {
                max-width: 40rem;
            }
        }
        &_column {
            height: 50%;
            width: 50%;
            min-height: 10rem;
            min-width: 11rem;
            display: flex;
            flex-direction: column;
            @media only screen and (min-width: $size-large) {
                max-width: 40rem;
            }
        }
        &_element {
            margin: auto;
            width: 60%;
            height: 3rem;
            min-width: 10rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        &_text {
            margin: 0 0 0 1rem;
            display: inline;
            }
        }
    }
    &__a_square_l {
        display: none;
        @media only screen and (min-width: $size-medium) {
            display: block;
            @include background_image;
            bottom: 8%;
            left: 3%;
        }
        @media only screen and (min-width: $size-large) {
            left: 5%;
        }
    }

    &__a_square_r {
        display: none;
        @media only screen and (min-width: $size-medium) {
            display: block;
            @include background_image;
            bottom: 5%;
            right: 10%;
            width: 3rem;
        }
        @media only screen and (min-width: $size-large) {
            right: 15%;
        }   
    }
}

.element_icon {
    height: 100%;
    margin: 0;
}
