@import '../../../style/abstracts/variables';

.offer {
    height: 100vh;
    padding-top: 5.5rem;
    &__header {
        margin: 0rem 1rem 2rem 1rem;
        text-align: center;
        padding-right: 1rem;
        line-height: 1.5rem;
    }
    &__header:after {
        content:'';
        display: block;
        border: 1px solid $secondary-dark;
        background-color: $secondary-dark;
        border-radius: 2px;
        margin: 0.5rem auto;
    }
}

.offer__list {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &_element {
        margin: auto;
        width: 60%;
        height: 3rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    &_text {
        margin: 0 0 0 1rem;
        line-height: 1.4rem;
        display: inline;
        }
    }
}

.element_icon {
    height: 100%;
    margin: 0;
}