@import '../../../style/abstracts/variables';

.offer {
    height: 100vh;
    // width: 100vw;
    // border: 1px solid red;
    &__header {
        margin: 3.5rem 1rem 2rem 1rem;
        font-size: 1.2rem;
        text-align: center;
        color: $secondary-dark;
        padding-right: 1rem;
    }
    &__header:after {
        content:'';
        display: block;
        border: 2px solid $secondary-dark;
        background-color: $secondary-dark;
        border-radius: 2px;
        margin: 0.5rem auto;
    }
}

.offer__list {
    // width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &_element {
        // border: 1px solid red;
        margin: auto;
        width: 60%;
        height: 3rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    &_text {
        margin: 0 0 0 0.5rem;
        // height: 80%;
        display: inline;
        color: $secondary-dark;
        font-size: 1.1rem;
        line-height: 1.2rem;
        font-weight: 700;
        }
    }
}

.element_icon {
    height: 100%;
    margin: 0;
}