@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

h1, h2, h3, h4 {
  font-weight: 700;
}

html, body {
  font-family: 'Lato', sans-serif;
}

a:hover {
  transition: all 0.3s ease-in-out;
}

.section-title {
  margin: 0px;
  margin-bottom: 4.5rem;
  font-size: $big-font-size;
  font-weight: bold;
  text-transform: uppercase;

}

.txt_purple--dark {
  font-size: 1.2rem;
  color: $secondary-dark;
  &_regular {
    font-size: 1.1rem;
    line-height: 3rem;
    font-weight: 400;
    text-align: center;
  }
  &_point {
    font-size: 1.1rem;
    line-height: 1.4rem;
    font-weight: 700;
  }
}

.txt_gray {
  color: $gray;
  text-align: center;
  &--point {
    font-size: 0.8rem;
  }
  &--header {
    font-size: 1.5rem;
    font-weight: 400;
    // margin: auto;
  }
  &--thematic_scope {
    text-align: left;
    line-height: 1.2rem;
  }
}

.txt_white {
  color: white;
  text-align: center;
  font-size: 1.1rem;
}

.learning_plan_counter {
  font-size: 1.5rem;
}