@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

h1, h2, h3, h4 {
  font-weight: 700;
}

html, body {
  font-family: 'Lato', sans-serif;
}

a:hover {
  transition: all 0.3s ease-in-out;
}

.section-title {
  margin: 0px;
  margin-bottom: 4.5rem;
  font-size: $big-font-size;
  font-weight: bold;
  text-transform: uppercase;
}

.txt_purple {
  font-size: 1.2rem;
  color: $dark-font;
  &--regular {
    font-size: 1.1rem;
    line-height: 3rem;
    font-weight: 400;
    // text-align: center;
    @media only screen and (min-width: $size-medium) {
      font-size: 1.2rem;
    }
  }
  &--point {
    font-size: 1.1rem;
    line-height: 1.4rem;
    font-weight: 700;
  }
  &--footer {
    font-size: 0.7rem;
  }
}

.txt_gray {
  color: $gray;
  text-align: center;
  &--point {
    font-size: 0.9rem;
    @media only screen and (min-width: $size-medium) {
      font-size: 1.2rem;
    }
  }
  &--header {
    font-size: 1.5rem;
    font-weight: 400;
    @media only screen and (min-width: $size-medium) {
      font-size: 2rem;
    }
  }
  &--thematic_scope {
    text-align: left;
    line-height: 1.3rem;
  }
}

.txt_white {
  color: white;
  text-align: center;
  font-size: 1rem;
  // @media only screen and (min-width: $size-medium) {
  //   font-size: 1.3rem;
  // }
  &--learning_plan {
    font-size: 0.8rem;
    @media only screen and (min-width: $size-medium) {
      font-size: 0.9rem;
    }
  }
}

.learning_plan_counter {
  font-size: 1.5rem;
  font-weight: 400;
}