@import '../../../style/abstracts/variables';
@import '../../../style/abstracts/mixins';


.finals {
    @include sections_layout;
    // position: relative;
    &__content {
        @media only screen and (min-width: $size-large) {
            @include sections_content
        }
    }
    &__text {
        @media only screen and (min-width: $size-large) {
            @include sections_text
        }
    }
    &__square_root_l {
        display: none;
        @media only screen and (min-width: $size-large) {
            display: block;
            @include background_image;
            top: 1rem;
            left: 50%;
            width: 8rem;
        }  
    }
}

.blob_position-finals {
    display: block;
    width: 40%;
    left: 30%;
    top: 5rem;
    @media only screen and (min-width: $size-large) {
        left: 10%;
        top: 5rem;
        width: 30%;
    }
}