@import '../../../style/abstracts/variables';
@import '../../../style/abstracts/mixins';


.current_material {
    @include sections_layout;
    @media only screen and (min-height: $size-large) and (min-width: $size-medium) {
        height: 50vh;
    }  
    &__content {
        @media only screen and (min-width: $size-large) {
            @include sections_content
        }
    }
    &__text {
        @media only screen and (min-width: $size-large) {
            @include sections_text;
            height: 50vh;
        }
    }
    &__square_root_l {
        display: none;
        @media only screen and (min-width: $size-large) {
            display: block;
            @include background_image;
            top: 1rem;
            right: 30%;
            width: 9rem;
        }  
    }
}

.image_owl_checklist {
    width: 18rem;
    height: 26rem
}
