@import '../../style/abstracts/variables';

.navbar {
    width: 100vw;
    height: 4rem;
    background-color: $primary-dark;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    position: fixed;
    z-index: 1;
    @media only screen and (min-width: $size-medium) {
        padding: 0 2rem;
      }
    &__icon {
        height: 70%;
        margin: 0;
        pointer-events: none;
    }
    &__button {
        background-color: transparent;
        border: none;
        height: 2rem;
        width: 3.5rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        &_icon {
            margin: 0;
        }
    }
}


.mobile_menu {
    background-color: $secondary-dark;
    opacity: 0.97;
    z-index: 1;
    position: fixed;
    top: 4rem;
    right: 0;
    border-radius: 0 0 0 0.5rem;
    overflow: hidden;
    transform-origin: top right;
    transform: scale(0);
    transition: transform 0.2s;
    &__list {
        padding: 1rem 2rem;
        list-style-type: none;
        color: white;
        font-size: 0.7rem;
        word-wrap: normal;
        line-height: 1.8rem;
        text-align: right;
        &_item {
            margin-bottom: 1rem;
        }
    }
    
}

.menu_display {
    transform: scale(1);
}