@import '../../style/abstracts/variables';
@import '../../style/abstracts/mixins';

.oval_header_container {
    @include content_width;
    margin: auto;
}

.oval_header {
    // @include content_width;
    padding: 1.2rem 2rem 0.5rem 2rem;
    border-radius: 2rem;
    margin: auto;
    @media only screen and (min-width: $size-medium) {
        padding: 1.8rem 4rem 0.5rem 4rem;
    }
    // @media only screen and (min-width: $size-large) {
    //     margin: 0;
    // }
}

.background-green {
    background-color: $green;
}

.background-blue {
    background-color: $blue-green;
}

.background-orange {
    background-color: $orange;
}