@import '../../style/abstracts/variables';
@import '../../style/abstracts/mixins';

.oval_header {
    @include content_width;
    padding: 1.2rem 1rem 0.5rem 1rem;
    border-radius: 2rem;
    margin: auto;
    &--narrow {
        width: 45%;
        min-width: 9rem;
    }
}

.background-green {
    background-color: $green;
}

.background-blue {
    background-color: $blue-green;
}

.background-orange {
    background-color: $orange;
}