@import '../../style/abstracts/variables';
@import '../../style/abstracts/mixins';

.oval_header_container {
    @include content_width;
    margin: auto;
}

.oval_header {
    // @include content_width;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    width: 80%;
    min-width: 16rem;
    margin: auto;

    @media only screen and (min-width: $size-medium) {
        padding: 0.8rem 4rem;
        min-width: 20rem;
        max-width: 25rem;
    }
    @media only screen and (min-width: $size-large) {
        width: 90%;
        min-width: 20rem;
    }
    &-narrow {
        width: 30%;
        min-width: 10rem;
        @media only screen and (min-width: $size-large) {
            max-width: 13rem;
        }
    }
}


.background-green {
    background-color: $green;
}

.background-blue {
    background-color: $blue-green;
}

.background-orange {
    background-color: $orange;
}