@import '../../../style/abstracts/variables';
@import '../../../style/abstracts/mixins';

.structure {
    height: 100vh;
    padding-top: 5.5rem;
    // @media only screen and (min-height: $size-large) and (min-width: $size-medium) {
    //     height: 80vh;
    // }
    position: relative;
    &__oval_headers {
        margin: 1.5rem auto;
        min-height: 30%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        @media only screen and (min-height: $size-large) and (min-width: $size-medium) {
            min-height: 40%;
            padding: 4rem 0 4rem 0;
        }
    }
    &__list {
        margin: auto;
        width: 80%;
        &_point {
            list-style: none;
            margin-top: 3rem;
            line-height: 2rem;
            &::before {
                content:'';
                display: inline-block;
                width: 0.6rem;
                height: 0.6rem;
                background-color: $green;
                border-radius: 1rem;
                margin-right:  1rem;
            }
        }
    }
    &__a_square_l {
        @include background_image;
        top: 45%;
        left: 10%;
    }
    &__square_root_r {
        @include background_image;
        top: 45%;
        right: 10%;
        // width: 3rem;
    }
    &__header:after {
        content:'';
        display: block;
        border: 1px solid $gray;
        background-color: $gray;
        border-radius: 2px;
        margin: 0.5rem auto;
        max-width: 15rem;
        @media only screen and (min-height: $size-large) and (min-width: $size-medium) {
            @include content_width;
            border: 2px solid $gray;
        }
    }
    
}

