@import '../../../style/abstracts/variables';
@import '../../../style/abstracts/mixins';

.structure {
    // border: 1px solid green;
    min-height: 100vh;
    padding-top: 5.5rem;
    position: relative;
    @media only screen and (min-width: $size-large) {
        min-height: 70vh;
    }
    @media only screen and (min-height: $size-large) and (min-width: $size-medium) {
        min-height: 50vh;
    } 
    &__oval_headers {
        margin: 1.5rem auto;
        min-height: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media only screen and (min-width: $size-large) {
            flex-direction: row;
            justify-content: center;
        } 
    }
    &__conjunction{
        margin: auto 2rem;
    }
    &__list {
        margin: auto;
        width: 80%;
        &_point {
            list-style: none;
            margin-top: 1.5rem;
            // line-height: 2rem;
            // @media only screen and (min-height: $size-large) and (min-width: $size-medium) {
            //     margin-top: 3rem;
            // }
            &::before {
                content:'';
                display: inline-block;
                width: 0.6rem;
                height: 0.6rem;
                background-color: $green;
                border-radius: 1rem;
                margin-right:  1rem;
            }
        }
    }
    &__a_square_l {
        display: none;
        @media only screen and (min-width: $size-medium) {
            display: block;
            @include background_image;
            bottom: 5%;
            left: 10%;
        } 
    }
    &__square_root_r {
        display: none;
        @media only screen and (min-width: $size-medium) {
            display: block;
            @include background_image;
            bottom: 0%;
            right: 10%;
        }   
    }
    &__header:after {
        content:'';
        display: block;
        border: 1px solid $gray;
        background-color: $gray;
        border-radius: 2px;
        margin: 0.5rem auto;
        max-width: 15rem;
        @media only screen and (min-width: $size-large) {
            border: 1.5px solid $gray;
            max-width: 20rem;
        }        
        @media only screen and (min-height: $size-large) and (min-width: $size-medium) {
            @include content_width;
        }
    }
}

.blob_position-structure_left {
    height: 20%;
    min-height: 10rem;
    left: 20%;
    top: 30%;
}

.blob_position-structure_right {
    height: 20%;
    min-height: 10rem;
    right: 15%;
    bottom: 10%;
}