@import '../../../style/abstracts/variables';

.structure {
    height: 100vh;
    padding-top: 3.5rem;
    border: 1px solid red;
    &__oval_headers {
        margin: 1.5rem auto;
        min-height: 30%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    &__list {
        margin: auto;
        width: 80%;
        list-style-position: inside;
        &_point {
            list-style: none;
            margin-top: 1rem;
            &::before {
                content:'';
                display: inline-block;
                width: 0.6rem;
                height: 0.6rem;
                background-color: $green;
                border-radius: 1rem;
                margin-right:  1rem;
            }
        }
    }
    &__header:after {
        content:'';
        display: block;
        border: 2px solid $gray;
        background-color: $gray;
        border-radius: 2px;
        margin: 0.5rem auto;
        max-width: 15rem;
    }
    
}

// li {
//     list-style: none;
//     margin-top: 1rem;
// }

// li::before {
//     content:'';
//     display: inline-block;
//     width: 0.6rem;
//     height: 0.6rem;
//     background-color: $green;
//     border-radius: 1rem;
//     margin-right:  1rem;
// }
